@media screen and (max-width: 991px){
    .bottom_right{
        padding-left: 10rem;
    }
    .bottom_center{
        padding-left: 8rem;
    }
}@media screen and (max-width: 767px){
    .bottom_right{
        padding-left: 5rem;
    }
    .bottom_center{
        padding-left: 4rem;
    }
}