.my_header,.my_footer{
    width:100%;
}
.my_header{
    margin-top:10px;
}
/*手写媒体查询，控制iframe的高度*/
@media screen and (min-width: 992px){
    .my_header{height:6rem;}
    .my_footer{height:20rem;}
}
@media screen and (max-width: 991px){
    .my_header{height:12rem;}
    .my_footer{height:35rem;}
}
/*重写指示符的样式*/
.carousel-indicators li{
    width:15px;height:15px;
    background-color:#fff;
    margin-left:6px;
    margin-right:6px;
    border-radius: 50%;
}
.carousel-indicators .active{
    background-color:#0aa1ed;
}
/*重写左右箭头的样式*/
.carousel-control-prev,
.carousel-control-next{
    width:4%;height:20%;
    background-color:#aaa;
    top:30%;
    border-radius:0.25rem;
}
.card{
    position:static;
}
.my_img_position{
    transition:1s;
}
.my_img_position:hover{
    transform:scale(1.1);
}
